include ./shared/global/jade-helpers.jade

doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="title" content="Kaleb White")
    meta(name="description" content="Homepage for Kaleb White, frontend engineer located in San Francisco")
    meta(mame="theme-color" content="#d42059")
    meta(content="Kaleb White" name="author")
  body.main-portfolio
    include ../svg/icons.svg
    section.background--animated
      .container.mast-head
        .row.spacer-top-small
          div(class="col-3@sm")
            +svgIcon('cujojp', 'logo fill--white')
        .row.spacer-top-large
          div(class="col-10@sm col-push-1@sm")
            h1.type-header-1.type--white.text-align-center!='My passion is in making beautiful responsive web&nbsp;applications.'
        .row
          div(class="col-8@sm col-offset-2@sm")
            p.type-body-2.text-align-center
              | Hi, my name is Kaleb White, and I'm a frontend engineer located in San Francisco, CA. I currently work at a startup Mesosphere, where I build and work on beautiful interfaces as well as collect dank meme's.
      .spacer-top-large
    section.background--white
      .container
        .spacer-top-large
        .row
          div(class="col-8@sm")
            h3.type-header-2.type--pink-dark
              | A quick summary about me.
        .row
          div(class="col-6@sm col-push-1@sm")
            p.type-body-2.type--gray20
              | I was born and raised in Minneapolis MN and had a passion for design and building interfaces on the web. Thats when I went to school and graduated from The Art Institutes International Minnesota, with a Bachelors of Science degree in Web Design & Interactive Media.
              br 
              br 
              | From then I went to work at a digital marketing agency named space150 for three years, where I was given the opportunity to work on large applications for major clients such as: American Express, Buffalo Wild Wings, Land o'Lakes, and Cambria. Working along side others and creating and building tools to help engineer and develop these large consumer-facing products continued to let me grow as an engineer in Minnesota.
              br 
              br 
              | Thats when I made the decision to relocate to the beautiful west coast, specifically San Francisco where I joined the team at Odopod. Odopod was a dream come true for me, an agency which specialized in beautiful design, as well as beautiful code. When working there I helped deliver products for companies such as, Google, Sony, Tesla, SpaceX, and Audemars Piguet. A lot of these products we're seen by millions of users globally. 
              br 
              br 
              | Three years later I left Odopod and started work at a small startup named Mesosphere. Where I was tasked with building and maintaining their main customer facing website. The site was small, and scrappy but I was able to expand it and grow out different sections, all while modernizing it's main stack, creating high code standards, and increasing web performance exponentially.
        .spacer-top-large
    section
      .container
        .spacer-top-large
        .row
          div(class="col-10@sm col-push-1@sm")
            h2.type-header-1.type--white.text-align-center
              | Lets get social.
        .row
          div(class="col-8@sm col-offset-2@sm")
            p.type-body-2.text-align-center
              | You like social media? I like social media! Let's chat and connect on all the channels and networks. If it's bookface, the gram, Linkedin, Tweetbird, or Microhub find me below.
        .row
          div(class="col-8@sm col-offset-2@sm text-align-center")
            ul.social-list.inline-list.unstyled-list
              li.social-list__item
                a.social-list__wrapper.aspect(href="https://www.linkedin.com/in/kalebwhite" target="_blank")
                  .aspect-inner.social-list__inner
                    +svgIcon('icon-github', 'icon-size-28 fill--white social-list__icon')
                    p.type-body-3
                      em="Github"
              li.social-list__item
                a.social-list__wrapper.aspect(href="https://www.facebook.com/cujojp" target="_blank")
                  .aspect-inner.social-list__inner
                    +svgIcon('icon-facebook', 'icon-size-28 fill--white social-list__icon')
                    p.type-body-3
                      em="Facebook"
              li.social-list__item
                a.social-list__wrapper.aspect(href="https://twitter.com/cujojp" target="_blank")
                  .aspect-inner.social-list__inner
                    +svgIcon('icon-twitter', 'icon-size-28 fill--white social-list__icon')
                    p.type-body-3
                      em="Twitter"
              li.social-list__item
                a.social-list__wrapper.aspect(href="http://instagram.com/cujojp" target="_blank")
                  .aspect-inner.social-list__inner
                    +svgIcon('icon-instagram', 'icon-size-28 fill--white social-list__icon')
                    p.type-body-3
                      em="Instagram"
              li.social-list__item
                a.social-list__wrapper.aspect(href="mailto:cujojpn@gmail.com")
                  .aspect-inner.social-list__inner
                    +svgIcon('icon-mail', 'icon-size-28 fill--white social-list__icon')
                    p.type-body-3
                      em="cujojpn@gmail.com"
        .spacer-btm-large
